.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -15px) scale(0.75) !important;
}

.MuiChip-root {
  margin: 2px;
  border: 3px solid;
}

.dot{
  border: 1px solid #66fd97 !important;
}

.dot.selected{
  background-color: #40c293 !important;
  border: 1px solid #66fd97 !important;
}

.legend {
  background-color: #40c293 !important;
  border: 1px solid #66fd97 !important;
  color: white;
  margin-bottom: 5px;
}

.thumbs-wrapper.axis-vertical {
  display: none;
}
.alert {
  margin: 0 10px 20px;
  border-radius: 15px !important;
}


.MuiAlert-filledSuccess{
  background:#40c293 !important;
}

.MuiAlert-filledError{
  background: rgb(240, 156, 38) !important;
}